*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    text-align: justify;
    color: black;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    gap: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.control{
    padding: 3rem;
    background-color: grey;
}

.view{
    display: flex;
    flex-direction: column;
}